.content {

    border-radius: 6px;
    background-color: #fff;
    position: fixed;
    right: 12px;
    width: 90vw;
    bottom: 12px;
    max-width: 500px;
    max-height: 85vh;
    color: #000;
    height: 85vh;
    border: 1px solid gray;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}