@import 'tailwindcss';

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    /* background: linear-gradient(47deg, rgb(18 16 130 / 100%) 0%, rgb(6 82 169 / 100%) 46%, rgb(130 9 217 / 100%) 100%); */

    /* background-color: #A7A9AB; */
    background-color: #1c1e23;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
