.content{
	overflow: auto;
	padding: 12px;

	textarea{
		line-height: unset;
		min-height: 80px;
	}
}

.head{
	flex: 1;
	display: flex;
	justify-content: flex-end;
	margin-right: 12px;
	align-items: center;
}


.icon{
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: #fe7743;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

