.content{
	overflow: auto;
}
.toggle{
	padding: 12px;
	padding-bottom: 0px;
	line-height: 28px;
	display: flex;
	gap: 4px;
	align-items: center;
	cursor: pointer;
	user-select: none;
	&-content{
		padding: 0 12px;
	}
}


.line{
	height: 1px;
	width: 100%;
	margin-top: 12px;
	background-color: lightgray;
}

.inline{
	display: flex;
	gap: 12px;
	font-size: 10px;
	div{
		flex: 100%;
	}
}